@import "./bootstrap.min.css";
@import "./bootstrap.rtl.min.css";

// Heights
.he385 {
    height: 385px;
}
.he80 {
    height: 80px;
}
.he300 {
    height: 300px;
}
.he5 {
    height: 5px;
}
.he320{
    height: 400px;
}
.he1785{
    height: 1785px;
}
.he700{
    height: 700px;
}
.he400{
    height: 400px;
}
.h-90{
    height: 90%;
}
// Opacity
.opa1{
    opacity: 0.1;
}
// Body Styles
body{
    background-image: url(../images/bgpattern.jpg);
    background-repeat: repeat;
}

//Header Styles
li.navhoverbutton:hover {
    background-color: orange;
}
.bgheader {
    background-image: url("../images/bgheader.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

// Content Styles
.bgslider{
    background-image: url('../images/bgslider.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Footer Styles
.footercolor{
    background-color: #383838;
}
.iranmap {
    background-image: url("../images/iranmap.png");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sizeiranmap{
    height: 150px;
    width: 160px;
}
div.iranmap:hover{
    opacity: 0.3;
}
