@import "./bootstrap.min.css";
@import "./bootstrap.rtl.min.css";

// Heights
.he60header {
    height: 60px;
}
.he300main {
    height: 300px;
}
.he800main{
    height: 800px;
}
.he170footer {
    height: 170px;
}
// Opacity
.opa1{
    opacity: 0.1;
}
// Body Styles

//Header Styles
li.navhoverbutton:hover {
    background-color: #001b25  ;
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

// Content Styles
.stmainslider{
    background-color: #151515;
}
// Footer Styles
.stfooter{
    background-color: #060606;
}
li.footerhoverbutton:hover {
    color: #FF6720;
}
span.footerhoverbutton:hover {
    color: rgb(255, 255, 255);
}
